__pycache__/
# CA
certs/ca/ca.key

# Private keys
certs/**/**/*.key
certs/**/**/*.pfx
certs/**/**/*.pem

# OpenSSL artifacts
certs/**/*.csr
certs/**/*.srl
certs/**/*.pem

# Configs for cert generation
certs/**/*.cnf

.env
.test.env