services:
  app:
    build: .
    ports:
      - "220:220"
    env_file:
      - .env
    environment:
      - ENC_VERSION=${ENC_VERSION}
      # данные для подключения к БД
      - DB_HOST=db
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - SSL_CERT_FILE=${SSL_CERT_FILE}
      - SSL_KEY_FILE=${SSL_KEY_FILE}
      - SSL_CA_FILE=${SSL_CA_FILE}

      - MODE=${MODE}
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped  # Автоперезапуск при падении

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data # Сохраняет данные БД
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 5


volumes:
  postgres_data:  # Том для PostgreSQL