ENC_VERSION=1

# Данные для подключения к БД (PostgreSQL)
DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASSWORD=123456789
DB_NAME=data_base_name


# сертификаты
SSL_CERT_FILE=./certs/server/server_cert.pem
SSL_KEY_FILE=./certs/server/server_key.pem
SSL_CA_FILE=./certs/ca/server_ca_chain.pem

SSL_CLIENT_CERT_FILE=./certs/client/client_cert.pem
SSL_CLIENT_KEY_FILE=./certs/client/client_key.pem


MODE=DEV